services:
  core_a:
    build:
      context: ./coreA
    container_name: coreA
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.254
      net_fw_core:
        ipv4_address: 10.0.40.2
      net_san:
        ipv4_address: 10.0.30.2

  core_b:
    build:
      context: ./coreB
    container_name: coreB
    privileged: true
    networks:
      net_access_b:
        ipv4_address: 10.0.20.254
      net_fw_core:
        ipv4_address: 10.0.40.3
      net_san:
        ipv4_address: 10.0.30.3

  dhcp1:
    build:
      context: ./dhcp1
    container_name: dhcp1
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.10

  client_a:
    build:
      context: ./clients/clientA
    container_name: clientA
    privileged: true
    networks:
      net_access_a: {}

  dhcp2:
    build:
      context: ./dhcp2
    container_name: dhcp2
    privileged: true
    networks:
      net_access_b:
        ipv4_address: 10.0.20.10

  client_b:
    build:
      context: ./clients/clientB
    container_name: clientB
    privileged: true
    networks:
      net_access_b: {}

  nas:
    build: ./nas
    container_name: nas
    privileged: true
    networks:
      net_san:
        ipv4_address: 10.0.30.10

  firewall:
    build:
      context: ./firewall
    container_name: firewall
    privileged: true
    networks:
      net_fw_core:
        ipv4_address: 10.0.40.254
      net_wan:
        ipv4_address: 10.0.50.2

  dns1:
    build:
      context: ./dns1
    container_name: dns1
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.20

networks:
  net_access_a:
    ipam:
      config:
        - subnet: 10.0.10.0/24

  net_access_b:
    ipam:
      config:
        - subnet: 10.0.20.0/24

  net_fw_core:
    ipam:
      config:
        - subnet: 10.0.40.0/24

  net_san:
    ipam:
      config:
        - subnet: 10.0.30.0/24

  net_wan:
    ipam:
      config:
        - subnet: 10.0.50.0/24
