services:
  core_a:
    build:
      context: ./coreA
    container_name: coreA
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.254
      net_fw_core:
        ipv4_address: 10.0.40.2
      net_san:
        ipv4_address: 10.0.30.2

  core_b:
    build:
      context: ./coreB
    container_name: coreB
    privileged: true
    networks:
      net_access_b:
        ipv4_address: 10.0.20.254
      net_fw_core:
        ipv4_address: 10.0.40.3
      net_san:
        ipv4_address: 10.0.30.3

  dhcp1:
    build:
      context: ./dhcp1
    container_name: dhcp1
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.10

  client_a:
    build:
      context: ./clients/clientA
    container_name: clientA
    privileged: true
    networks:
      net_access_a: {}

  dhcp2:
    build:
      context: ./dhcp2
    container_name: dhcp2
    privileged: true
    networks:
      net_access_b:
        ipv4_address: 10.0.20.10

  client_b:
    build:
      context: ./clients/clientB
    container_name: clientB
    privileged: true
    networks:
      net_access_b: {}

  nas:
    build: ./nas
    container_name: nas
    privileged: true
    networks:
      net_san:
        ipv4_address: 10.0.30.10

  firewall:
    build:
      context: ./firewall
    container_name: firewall
    privileged: true
    networks:
      net_fw_core:
        ipv4_address: 10.0.40.254
      net_wan:
        ipv4_address: 10.0.50.2
      net_dmz:
        ipv4_address: 10.0.60.254

  web_dmz:
    image: nginx:alpine
    container_name: web_dmz
    restart: unless-stopped
    networks:
      net_dmz:
        ipv4_address: 10.0.60.10
    ports:
      - "8080:80"

  dns1:
    build:
      context: ./dns1
    container_name: dns1
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.20

  aaa:
    build:
      context: ./aaa
    container_name: aaa
    privileged: true
    networks:
      net_access_a:
        ipv4_address: 10.0.10.30

  zabbix-mysql:
    image: mysql:8.0
    container_name: zabbix-mysql
    command: >
      --character-set-server=utf8
      --collation-server=utf8mb3_bin
      --default-authentication-plugin=mysql_native_password
      --log-bin-trust-function-creators=1
    environment:
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbix
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - zbx_db:/var/lib/mysql
    networks:
      net_fw_core:
        ipv4_address: 10.0.40.60

  zabbix-server:
    image: zabbix/zabbix-server-mysql:alpine-latest
    container_name: zabbix-server
    depends_on:
      - zabbix-mysql
    environment:
      DB_SERVER_HOST: zabbix-mysql
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbix
    networks:
      net_fw_core:
        ipv4_address: 10.0.40.61

  zabbix-frontend:
    image: zabbix/zabbix-web-nginx-mysql:alpine-latest
    container_name: zabbix-frontend
    depends_on:
      - zabbix-server
      - zabbix-mysql
    environment:
      DB_SERVER_HOST: zabbix-mysql
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbix
      PHP_TZ: America/El_Salvador
    ports:
      - "8081:8080"
    networks:
      net_access_a:
        ipv4_address: 10.0.10.51
      net_fw_core:
        ipv4_address: 10.0.40.62

  # ---------------------------------------
  # AQUI SE AGREGA EL SERVIDOR SAMBA
  # ---------------------------------------
  samba:
    image: dperson/samba
    container_name: samba
    privileged: true
    networks:
      net_san:
        ipv4_address: 10.0.30.50
    volumes:
      - "C:/samba/privado:/shared"
    command: >
      -u "usuario1;password1"
      -u "usuario2;password2"
      -s "Privado;/shared;yes;no;no;usuario1,usuario2"
    restart: always



networks:
  net_access_a:
    ipam:
      config:
        - subnet: 10.0.10.0/24

  net_access_b:
    ipam:
      config:
        - subnet: 10.0.20.0/24

  net_fw_core:
    ipam:
      config:
        - subnet: 10.0.40.0/24

  net_san:
    ipam:
      config:
        - subnet: 10.0.30.0/24

  net_wan:
    ipam:
      config:
        - subnet: 10.0.50.0/24

  net_dmz:
    ipam:
      config:
        - subnet: 10.0.60.0/24

volumes:
  zbx_db:
  zbx_data:
  zbx_conf:
